.portfolio-grid {
    display: grid;
    grid-template-rows: repeat(autofit, minmax(500px, 1fr));
    grid-gap: 95px;
    @media (max-width: 1119px) {
        justify-content: center;
    }
}

.portfolio-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    @media (max-width: 1119px) {
        justify-content: center;
    }
    @media (max-width: 575px) {
        grid-gap: 10px;
    }
}

.portfolio-item.right {
    flex-direction: row-reverse;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.portfolio-image, .portfolio-text {
    max-width: 535px;
}


.portfolio-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    @media (max-width: 1000px) {
        text-align: center;
        margin: 0 auto;
        padding-top: 1.5rem;
    }
    @media (max-width: 575px) {
        max-width: 400px;
    }
    @media (max-width: 410px) {
        max-width: 300px;
    }
}

.right-text {
    text-align: left;
    @media (max-width: 1000px){
        text-align: center;
    }
}

.portfolio-links {
    margin-top: 2rem;
    a {
        color: #61BFAD;
        border: 2px solid #61BFAD;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
            border: 2px solid white;
            color: white;
            background-color: #61BFAD;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
}

p.portfolio-item-title {
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

p.portfolio-item-subtitle, p.portfolio-blurb {
    font-family: 'Lato', sans-serif;
    color: #696969;
    margin: 0;
}

p.portfolio-item-subtitle {
    font-size: 1.2rem;
}

p.portfolio-blurb {
    font-size: 1.6rem;
    padding: 2.5rem 0;
    line-height: 2.5rem;
}

.portfolio-image {
    background-color: white;
    video {
        background-color: white !important;
        width: 100%;
        margin: 0 auto;
    }
    img {
        width: 100%;
        margin: 0 auto;
    }
    @media (max-width: 575px) {
        max-width: 400px;
        margin: 0 auto;
        height: 300px;
    }
    @media (max-width: 410px) {
        max-width: 300px;
        height: 250px;
    }

}


