.skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: 0 auto;
    text-align: center;
    grid-gap: 4rem;
    align-items: center;
    justify-content: center;
    @media (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    i:hover {
        color: #61BFAD;
    }
}

